@page "/apartments"
@using RealEstate.Client.Components.ApartmentTable
@using RealEstate.Client.Components

<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-5">
        <Sort OnSortChanged="SortChanged" />
    </div>
    <div class="col-md-2">
        <a href="/createApartment">Create Apartment</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <ApartmentTable Apartments="ApartmentList" OnDeleted="DeleteApartment"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <Page MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>
@*<div class="row">
    <div class="col">
        <ApartmentTable Apartments="ApartmentList" OnDeleted="DeleteApartment" />
    </div>
</div>*@