@page "/apartments"
@using RealEstate.Client.Components.ApartmentTable

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createApartment">Create Apartment</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <ApartmentTable Apartments="ApartmentList" />
    </div>
</div>
<div class="row">
    <div class="col">
        @*Place for pagination*@
    </div>
</div>