@page "/"

<img src="ImagesForMain/uy3.jpg" style="width:100%" height="437" />


<header>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Why this web site?</h2>
    <ul>
        <li><a><h4>Here you can easiliy find an apartment or a house for sale or rent</h4></a></li>
        <li><a><h4>You can sort by price, number of rooms, whether it's for sale or rent</h4></a></li>
        <li><a><h4>You can search by its description and find a place that is suitable for you</h4></a></li>
    </ul>
</header>
