@page "/regions"
@using RealEstate.Client.Components.RegionTable
@using RealEstate.Client.Components

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createRegion">Create Region</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <RegionTable Regions="RegionList" OnDeleted="DeleteRegion"/>
    </div>
</div>
<div class="row">
    <div class="col">
        <Page MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>