<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="status">For Sale</option>
        <option value="status desc">For Rent</option>
        <option value="price">Price</option>
        <option value="price desc">Price DESC</option>
        <option value="NumOfRooms">Number of rooms</option>
        <option value="NumOfRooms desc">Number of rooms DESC</option>
    </select>
</section>