@page "/createApartment"

<h2>Create Apartment Form</h2>

<EditForm Model="_apartment" OnSubmit="Create" class="card card-body bg-light mt-5">

   

    <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label">Description:</label>
        <div class="col-md-10">
            <InputText id="description" class="form-control" @bind-Value="_apartment.Description" />
        </div>
    </div>

    <div class="form-group row">
        <label for="floorno" class="col-md-2 col-form-label">Floor Number:</label>
        <div class="col-md-10">
            <InputNumber id="floorno" class="form-control" @bind-Value="_apartment.FloorNo" />
        </div>
    </div>

    <div class="form-group row">
        <label for="imageurl" class="col-md-2 col-form-label">Image:</label>
        <div class="col-md-10">
            <InputText id="imageurl" class="form-control" @bind-Value="_apartment.ImageURL" />
        </div>
    </div>

    <div class="form-group row">
        <label for="numofrooms" class="col-md-2 col-form-label">Number Of Rooms:</label>
        <div class="col-md-10">
            <InputNumber id="numofrooms" class="form-control" @bind-Value="_apartment.NumOfRooms" />
        </div>
    </div>

    <div class="form-group row">
        <label for="price" class="col-md-2 col-form-label">Price:</label>
        <div class="col-md-10">
            <InputNumber id="price" class="form-control" @bind-Value="_apartment.Price" />
        </div>
    </div>

    <div class="form-group row">
        <label for="regionid" class="col-md-2 col-form-label">RegionId:</label>
        <div class="col-md-10">
            <InputNumber id="regionid" class="form-control" @bind-Value="_apartment.RegionId" />
        </div>
    </div>



    <div class="form-group row">
        <label for="square" class="col-md-2 col-form-label">Square(m²):</label>
        <div class="col-md-10">
            <InputNumber id="square" class="form-control" @bind-Value="_apartment.Square" />
        </div>
    </div>



    <div class="form-group row">
        <label for="Status" class="col-md-2 col-form-label">Status</label>
        <div class="col-md-10">
            <InputSelect @bind-Value="_apartment.Status" class="form-control">
                @foreach (var status in Enum.GetValues(typeof(ApartmentStatus)))
                {
                    <option value="@status">@status</option>
                }
            </InputSelect>
        </div>
    </div>






    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</EditForm>